---
import Nested from '@components/meso/menu/Nested.svelte'
import Test from '@components/meso/menu/Test.svelte'
import Layout from '@layouts/Base.astro'
const { seo } = Astro.props.frontmatter

import { getCollections, getProducts } from 'public/shopify'

import CardProduct from '@components/meso/card/Product.svelte'
import CardCollection from '@components/meso/card/Collection.svelte'

let collections = await getCollections()
let products = await getProducts()

const nested = {
  name: 'Collections',
  children: [
    {
      name: null,
      collection: collections[0],
      children: [
        {
          name: null,
          collection: collections[0],
          children: [
            {
              name: null,
              collection: collections[0],
            },
            {
              name: null,
              collection: collections[1],
            },
            {
              name: null,
              collection: collections[2],
            },
          ],
        },
        {
          name: null,
          collection: collections[1],
        },
        {
          name: null,
          collection: collections[2],
        },
      ],
    },
    {
      name: null,
      collection: collections[1],
    },
    {
      name: null,
      collection: collections[2],
    },
  ],
}
---

<Layout {seo}>
  <!-- <Nested cms={nested} /> -->
  <div class="max-w-xl">
    <!-- <CardProduct product={products[0]} /> -->

    <!-- <CardCollection collection={collections[0]} /> -->
  </div>
</Layout>
