---
import '../assets/styles.css'

import Announcement from '@components/sections/Announcement.svelte'
import Navigation from '@components/sections/Navigation.svelte'

import site from '@data/site.json'
import { SEO } from 'astro-seo'
import globalSeo from '@data/site.yaml'

const localSeo = Astro.props.seo
const title = localSeo?.title || globalSeo.title
const description = localSeo?.description || globalSeo.description
---

<!DOCTYPE html>
<html
  lang={site.locale || 'en'}
  class="w-full h-full overflow-x-hidden scroll-smooth"
>
  <head>
    <meta charset="utf-8" />
    <meta
      content="width=device-width, initial-scale=1, viewport-fit=cover"
      name="viewport"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <script type="text/partytown">
      /* Insert GTM Script Here */
    </script>

    <SEO
      {...globalSeo}
      {title}
      {description}
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Symbols -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body
    class="w-full h-full overflow-x-hidden text-gray-600 font-sans scroll-smooth"
  >
    <Announcement />
    <Navigation client:load />
    <slot />
  </body>
</html>
